<template>
  <div class="App">
    <component :is="layoutComponent">
      <slot v-if="isStorybook" />
      <router-view v-if="!isStorybook" />
    </component>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { useRoute } from 'vue-router'

import { LAYOUT, type Layout } from '@/constants/layout'

import TaLayoutDefaultPure from '@/layouts/TaLayoutDefaultPure.vue'
import TaLayoutNakedPure from '@/layouts/TaLayoutNakedPure.vue'

export interface Props {
  isStorybook?: boolean
  storybookLayout?: Layout
}

const props = withDefaults(defineProps<Props>(), {})
const route = useRoute()

type LayoutComponent = typeof TaLayoutDefaultPure | typeof TaLayoutNakedPure

const layoutLookup: Record<Layout, LayoutComponent> = {
  Default: TaLayoutDefaultPure,
  Naked: TaLayoutNakedPure,
}

function isValidLayout(layout: string): layout is Layout {
  const isValid = Object.values(LAYOUT).includes(layout as Layout)
  return isValid
}

const layoutComponent = computed((): LayoutComponent => {
  if (props.isStorybook) {
    if (props.storybookLayout) return layoutLookup[props.storybookLayout]
    return TaLayoutNakedPure
  }

  const routeMetaLayout = route.meta.layout
  if (typeof routeMetaLayout === 'string' && isValidLayout(routeMetaLayout)) {
    return layoutLookup[routeMetaLayout]
  }

  return TaLayoutDefaultPure
})
</script>

<style lang="scss">
.App {
  $block: &;
}
</style>
