<template>
  <svg
    class="VkIconPure"
    :viewBox="`0 0 ${viewboxDimensions.width} ${viewboxDimensions.height}`"
    xmlns="http://www.w3.org/2000/svg"
  >
    <use :href="`#${iconId}`" />
  </svg>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue'

import { type Icon } from '@/../generated/icons'
import { lookup } from '@thomasaull-shared/shared/dom'

export interface Props {
  name: Icon
}

const props = withDefaults(defineProps<Props>(), {})

type ViewboxDimensions = {
  width: number
  height: number
}

const iconSize = ref(24)

const iconNameNormalized = computed(() => {
  return props.name
})

const iconId = computed(() => {
  return `VkSvgSpritePure-${iconNameNormalized.value}`
})

/**
 * If an icon hast a viewbox which is not 24×24
 * it needs to be defined here:
 */
const customViewbox: Partial<Record<Icon, ViewboxDimensions>> = {} as const

const viewboxDimensions = computed<ViewboxDimensions>(() => {
  const customViewboxForIcon = lookup(iconNameNormalized.value, customViewbox)

  if (customViewboxForIcon) {
    return customViewboxForIcon
  }

  return {
    width: iconSize.value,
    height: iconSize.value,
  }
})
</script>

<style lang="scss">
.VkIconPure {
  $block: &;

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  // --strokeWidth: max(2px, 0.175vw);

  width: 100%;
  height: 100%;

  // Line-Icons:
  fill: none;
  stroke: currentColor;
  stroke-width: var(--strokeWidth, 2px);

  // Filled-Icons:
  // fill: currentcolor;
  overflow: visible;
  display: block;

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  [id*='.fill'] {
    fill: currentColor;
    stroke: none;
  }

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  [id*='.color'] {
    // color: color.$key;
  }

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  [id*='.fade'] {
    opacity: 0.5;
  }

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  & * {
    vector-effect: non-scaling-stroke;
  }
}
</style>
