$white: #fff;
$black: #000;
$gray-100: hsl(0deg, 0%, 97%);
$gray-200: hsl(0deg, 0%, 92%);
$gray-300: hsl(0deg, 0%, 85%);
$gray-400: hsl(0deg, 0%, 60%);
$gray-500: hsl(0deg, 0%, 50%);
$gray-600: hsl(0deg, 0%, 40%);
$gray-700: hsl(0deg, 0%, 30%);
$gray-800: hsl(0deg, 0%, 20%);
$gray-900: hsl(0deg, 0%, 10%);

$key: red;

$text-default: $gray-900;

$background-light: $gray-100;

$border-gray: $gray-500;
