$contentMinWidth: 320px;
$contentMaxWidth: 1200px;

$breakpoints: (
  mobile: 700px,
);

$fontStack-system: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$fontStack-default: 'Helvetica', $fontStack-system;

$duration-fast: 0.1s;
$duration-default: 0.2s;
