@use '@/assets/scss/constants' as constant;
@use '@/assets/scss/colors' as color;

// Configrue fluid function defaults
@forward '@thomasaull-shared/scss/fluid'
  with($contentMinWidth: constant.$contentMinWidth, $contentMaxWidth: constant.$contentMaxWidth);

// Configure include media
/* stylelint-disable-next-line scss/load-no-partial-leading-underscore */
@forward 'include-media/dist/_include-media.scss' with (
  $breakpoints: constant.$breakpoints
);

body {
  font-family: constant.$fontStack-default;
  font-size: 16px;
  color: color.$text-default;
}
