<template>
  <div class="ExampleComponent">
    <h1>{{ greeting }}</h1>
    <br />
    <input :value="value" type="text" @input="emitInput" /> {{ value }}
    <br />
    <input :checked="checked" type="checkbox" @input="onInput" />

    <button v-if="action" @click="onAction">Fire action! → {{ action }}</button>
    <button @click="emit('click')">Emit click</button>
  </div>
</template>

<script setup lang="ts">
import { onMounted, toRef } from 'vue'
import { fromPromise } from 'xstate'
import { useTimeoutFn } from '@vueuse/core'

import { useXState, type StatePathOrValue } from '@/composables/useXState'
import { ExampleState } from '@/components/ExampleComponent/ExampleState'

export interface Props {
  greeting?: 'Hello' | 'Good Day Sir' | 'Howdy' | 'Bla'
  value?: string
  checked?: boolean
  state?: StatePathOrValue<typeof ExampleState>
  /** User defined action which fires an event with the same name */
  action?: string
}

export type Emit = {
  addPerson: { name: string; age: number }
}

const props = withDefaults(defineProps<Props>(), {})

const emit = defineEmits<{
  (event: 'update:value', value: string): void
  (event: 'update:checked', value: boolean): void
  (event: 'click'): void
  (event: 'addPerson', payload: Emit['addPerson']): void
}>()

function emitInput(event: Event) {
  if (!(event.target instanceof HTMLInputElement)) {
    throw new Error('event.target is not HTMLInputEvent')
  }

  emit('update:value', event.target.value)
}

const xstate = useXState(
  ExampleState.provide({
    actions: {
      blupp: () => {
        console.log('blupp provided')
      },
    },

    actors: {
      fetchSomething: fromPromise(async ({ input }) => {
        console.log('input', input)
        await new Promise((resolve) => setTimeout(resolve, 2_000))
      }),
    },
  }),
  {
    // initialState: { anotherState: 'blupp' },
    initialState: 'anotherState.blupp',
    useInspector: false,
    input: {
      actions: {
        bla: () => {
          console.log('bla')
        },
      },
    },
  }
)

useTimeoutFn(() => {
  console.info('send "to.default" now')
  xstate.value.send({ type: 'to.default' })
}, 2_000)

useTimeoutFn(() => {
  console.info('restart now')
  // xstate.value.restartWith({ anotherState: { bla: 'wild' } })
  xstate.value.restartWith('anotherState.bla.wild')
}, 4_000)

onMounted(() => {
  console.log('onMounted')
})

function onInput(event: Event) {
  if (!(event?.target instanceof HTMLInputElement)) {
    throw new Error('event.target is not a HTMLInputElement')
  }

  emit('update:checked', event.target.checked)
}

function onAction() {
  if (!props.action) return

  // @ts-expect-error Difficult to type
  emit(props.action)
}
</script>

<style lang="scss">
@use '@thomasaull-shared/scss/cssVar' as cssVar;
@use '@/assets/scss/default.scss' as default;

.ExampleComponent {
  $block: &;

  @include cssVar.setup($block);
  @include cssVar.define(
    (
      color: fuchsia,
    )
  );

  padding: 20px;
  outline: 1px solid cssVar.use('color');
  border-radius: 10px;
  border: 1px solid fuchsia;
  border-width: default.fluid(2px, 20px);

  @include default.media('<=700px') {
    border-color: blue;
  }
}
</style>
