<template>
  <div class="ExampleComponentSimple">ExampleComponentSimple</div>
</template>

<script setup lang="ts">
export interface Props {
  myProp?: string
}

const props = withDefaults(defineProps<Props>(), {})

const emit = defineEmits<{
  (event: 'example', id: string): void
}>()
</script>

<style lang="scss">
.ExampleComponentSimple {
  $block: &;

  color: #fff;
}
</style>
