<template>
  <div class="VkSvgSpritePure">
    <template v-for="icon in allIcons" :key="icon.id">
      <component :is="icon.component" :id="`VkSvgSpritePure-${icon.id}`" />
    </template>
  </div>
</template>

<script setup lang="ts">
import iconComponents from '@/../generated/icons'

const allIcons = Object.entries(iconComponents).map(([key, component]) => {
  return {
    id: key,
    component: component,
  }
})
</script>

<style lang="scss">
.VkSvgSpritePure {
  $block: &;

  display: none;
}
</style>
